body{
    margin: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav{
    padding: 5px 0;
    width: 80%;
    margin: auto;
}
.menu{
    display: inline-block;
    float: right;
}

.menu li{
    text-transform: uppercase;
    float: right;
    list-style: none;
    margin-right: 10px;
    font-size: 10px;
    color: #cbcbcb;
    font-family: Arial, Helvetica, sans-serif;

}
    
#banner-section{
    background-image: url(/assest/img/slide1.jpg);
   
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    
} 
.banner-wrapper{
    height: 600px;
}

.uni-logo{
    margin-top: 100px;
}

.banner-title{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 450px;
    margin: auto;
    margin-top: 25px;
}

.search-wrapper{
   height: fit-content;
   margin-bottom: 50px;
}

.search-bar{
    width: 300px;
    height: 20px;
    border: none;
    padding: 0;

}

.search-btn{
    height: 20px;
    margin: 0;
    margin-left: -5px;
    padding: 0;
    border: none;
    background-color: #fff;
}

.action-btn{
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
}

.banner-hi{
    background-color: #87d37c;
    color: #fff;
    width: 54px;
    height: 30px;
    position: relative;
    bottom: -20px;
    left: 45%;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}
.banner-hi::after{
    content: "";
    width: 28px;
    height: 37px;
    bottom: -37px;
    position: absolute;
    background-image: url("/assest/img/icon.png");
    left: 40%;
}