body{
    margin: 0;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav{
    padding: 5px 0;
    width: 80%;
    margin: auto;
}
.menu{
    display: inline-block;
    float: right;
}

.menu li{
    text-transform: uppercase;
    float: right;
    list-style: none;
    margin-right: 10px;
    font-size: 10px;
    color: #cbcbcb;
    font-family: Arial, Helvetica, sans-serif;

}
    
#banner-section{
    background-image: url(/assest/img/slide1.jpg);
   
    background-size: cover;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    
} 
.banner-wrapper{
    height: 600px;
}

.uni-logo{
    margin-top: 100px;
}

.banner-title{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 450px;
    margin: auto;
    margin-top: 25px;
}

.search-wrapper{
   height: fit-content;
   margin-bottom: 50px;
}

.search-bar{
    width: 300px;
    height: 20px;
    border: none;
    padding: 0;

}

.search-btn{
    height: 20px;
    margin: 0;
    margin-left: -5px;
    padding: 0;
    border: none;
    background-color: #fff;
}

.action-btn{
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 50px;
}

.banner-hi{
    background-color: #87d37c;
    color: #fff;
    width: 65px;
    height: 30px;
    position: relative;
    bottom: -20px;
    left: 45%;
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
}
.banner-hi::after{
    content: "";
    width: 28px;
    height: 37px;
    bottom: -37px;
    position: absolute;
    background-image: url("/assest/img/icon.png");
    left: 40%;
}

#menuBtn{
    background-color: transparent;
    border: none;
    float: right;

}

.menu-icon{
    color: #fff;
    margin: 5px;
    font-size: 30px;
}

.mobile{
    display: none;
}

#mobileMenu{
    width: 80%;
    height: 100vh;
    background-color: rgb(78, 240, 45);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* display: none; */
    transition: opacity 1s ease-out;
    transition: height 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#mobileMenu.active{
opacity: 1;
height: 100vh;
}
#closeBtn{
    background-color: transparent;
    border: none;S
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 25px;
    color: #fff;
}
.mobile-menu{
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-top: 20px;
}
.mobile-menu li{
    text-transform: uppercase;
    list-style: none;
    margin-right: 10px;
    font-size: 25px;
    color: #302f2f;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    border-bottom:1px solid #302f2f;
    margin-top: 10px;
    padding-left: 12px;

}

@media (max-width: 768px) {
   .desktop-menu{
    display: none;
   }
    
   .mobile{
    display: block;
   }
}